In [31]:
from pykrx import stock
tickers = stock.get_index_ohlcv_by_date('20190101','20200727','코스피')
print(tickers)

                 시가       고가       저가       종가         거래량
날짜
2019-01-02  2050.55  2053.45  2004.27  2010.00   326368000
2019-01-03  2011.81  2014.72  1991.65  1993.70   427976000
2019-01-04  1992.40  2011.56  1984.53  2010.25   408991000
2019-01-07  2034.24  2048.06  2030.90  2037.10   440191000
2019-01-08  2038.68  2042.70  2023.59  2025.27   397831000
...             ...      ...      ...      ...         ...
2020-07-20  2209.59  2209.59  2183.83  2198.20   686819000
2020-07-21  2219.19  2234.86  2214.28  2228.83   918483000
2020-07-22  2228.20  2238.86  2221.62  2228.66   856218000
2020-07-23  2227.24  2227.24  2202.99  2216.19   934542000
2020-07-24  2196.73  2219.57  2195.49  2200.44  1001025000

[387 rows x 5 columns]

In [32]:
tickers = tickers.reset_index()

In [33]:
tickers.head()

          날짜       시가       고가       저가       종가        거래량
0 2019-01-02  2050.55  2053.45  2004.27  2010.00  326368000
1 2019-01-03  2011.81  2014.72  1991.65  1993.70  427976000
2 2019-01-04  1992.40  2011.56  1984.53  2010.25  408991000
3 2019-01-07  2034.24  2048.06  2030.90  2037.10  440191000
4 2019-01-08  2038.68  2042.70  2023.59  2025.27  397831000

In [34]:
# 날짜 인덱싱
copy_ticker = tickers.copy()

for i in range(len(tickers['날짜'])):
    copy_ticker.loc[i,'날짜'] = str(tickers.loc[i]['날짜'])[0:7]

# copy_ticker.loc[0,'날짜'] =str(ticker.loc[0]['날짜'])[0:7]
copy_ticker

          날짜       시가       고가       저가       종가         거래량
0    2019-01  2050.55  2053.45  2004.27  2010.00   326368000
1    2019-01  2011.81  2014.72  1991.65  1993.70   427976000
2    2019-01  1992.40  2011.56  1984.53  2010.25   408991000
3    2019-01  2034.24  2048.06  2030.90  2037.10   440191000
4    2019-01  2038.68  2042.70  2023.59  2025.27   397831000
..       ...      ...      ...      ...      ...         ...
382  2020-07  2209.59  2209.59  2183.83  2198.20   686819000
383  2020-07  2219.19  2234.86  2214.28  2228.83   918483000
384  2020-07  2228.20  2238.86  2221.62  2228.66   856218000
385  2020-07  2227.24  2227.24  2202.99  2216.19   934542000
386  2020-07  2196.73  2219.57  2195.49  2200.44  1001025000

[387 rows x 6 columns]

In [35]:
copy_ticker = copy_ticker.groupby('날짜').min().reset_index()

In [36]:
def grap_year(data):
    data = str(data)
    return int(data[:4])

def grap_month(data):
    data = str(data)
    return int(data[5:])
# 날짜 처리

copy_ticker['year'] = copy_ticker['날짜'].apply(lambda x: grap_year(x))
copy_ticker['month'] = copy_ticker['날짜'].apply(lambda x: grap_month(x))
copy_ticker = copy_ticker.drop(['날짜'], axis=1)
copy_ticker.head()

        시가       고가       저가       종가        거래량  year  month
0  1992.40  2011.56  1984.53  1993.70  326368000  2019      1
1  2180.54  2181.58  2167.36  2177.05  301513000  2019      2
2  2131.25  2136.40  2120.93  2128.10  257951000  2019      3
3  2153.31  2171.49  2153.31  2168.28  257453000  2019      4
4  2024.33  2040.66  2016.25  2023.32  351616000  2019      5

In [38]:
copy_ticker.to_csv('kospi_stock.csv',encoding='utf-8')